@import '~@fluentui/react/dist/sass/References.scss';

.tableOfContents {
	margin: -8px;
	padding: 0px 8px;
	background-color: var(--colorNeutralBackground1);

	.init_webpart {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 20px;
		align-items: center;
		justify-content: center;
		background-color: var(--colorPaletteLightGreenBackground2);
		border-radius: 5px;
	}

	.text_color {
		color: inherit;
	}

	.section_titledescription {
		padding: 8px 0px;

		.title {
			padding-bottom: 8px;
		}
		.description {
			padding-bottom: 0px;
		}
	}

	.section_toc {
		padding: 8px 0px;

		.toc_item {
			display: block;
			box-sizing: border-box;
			padding-bottom: 0px;
			border-left: 3px solid var(--colorNeutralBackgroundInverted);
			padding-left: 10px;

			.toc_item_text {
				display: block;
				cursor: pointer;
				padding: 5px 0px;
				opacity: 0.6;

			}
			.toc_item_text:hover {
				opacity: 1.0;
			}
		}
		.toc_item:hover {
			border-left: 6px solid var(--colorNeutralBackgroundInverted);
			padding-left: 8px;
		}

		.active span {
			opacity: 1 !important;
			font-weight: 500;
		}
	}
}

.mark_area {
	margin: 0px;
	border: 5px dashed red;
}
